@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: #e8e7db;
}

.masthead {
    text-align: center;
    background: transparent url("../images/masthead-bg.png") repeat left center;
    text-align: center;
    margin: 0 auto;
}

.background {
    background-color: #87714f;
    margin-bottom: .5em;
    position: relative;
    color: white;
}

.title {
    background-image: url(images/star_single-11.svg), url(../images/star_single-11.svg);
    background-position: 7% 53%, 93%, 53%;
    background-repeat: no-repeat;
    background-size: 45px 45px;
    background-color: #E7E5D9;
    margin: auto;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.shadow {
    text-shadow: 1.5px 1.5px #87714f;
}

.reward {
    padding-bottom: 1em;
}

.chains {
    margin-left: 35%;
    margin-right: 35%;
    width: 20%;
}

.border {
    border-image: url(images/border1.svg) 30 30 30 30 stretch;
    border-width: 30px 30px 30px 30px;
    margin: auto;
    width: 100%;
}

.cowboy {
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
}







